<h1>Superhero Name and Motto</h1>

  <li><%= @hero.name %></li>
  <li><%= @hero.weight %></li>


<h2>First Member</h2>

  <li><%= @ship1.name %></li>
  <li><%= @ship1.type %></li>
  <li><%= @ship1.booty %></li>

<h2>Second Membre</h2>

  <li><%= @ship2.name %></li>
  <li><%= @ship2.type %></li>
  <li><%= @ship2.booty %></li>