<h1>Superhero Name and Motto</h1>

  <li><%= @hero.name %></li>
  <li><%= @hero.weight %></li>


<h2>First Member</h2>

  <li><%= @member1.name %></li>
  <li><%= @member1.bio %></li>
  <li><%= @member1.power %></li>

<h2>Second Member</h2>

  <li><%= @member2.name %></li>
  <li><%= @member2.bio %></li>
  <li><%= @member2.power %></li>